<% include ./partials/header %>
    <title>ECHOAX - Edit your profile</title>
</head>
<body background="https://i.imgur.com/TniTm3s.png" class="bg">
    <% include ./partials/navbar %>
    <div id="headsign" class="w">
        <center>EDIT YOUR PROFILE</center>
    </div>
    <div class="container w">
        <form action="/editprofile/<%= member.id %>" method="POST">
            <div class="row">
                <div class="col-40 useremailpass">
                        <label for="user">USERNAME</label>
                        <p class="bioparam"><%= member.username %></p>
                        <label for="password">OLD PASSWORD</label>
                        <input type="password" name="oldpassword">
                        <label for="password">NEW PASSWORD</label>
                        <input type="password" name="newpassword">
                        <label for="password">CONFIRM YOUR NEW PASSWORD</label>
                        <input type="password" name="renewpassword">
                    </div>
                    <div class="col-60 ">
                        <div class="row bio ">
                            <div class="col-50sl">
                                <label for="firstname">FIRSTNAME</label>
                                <input type="text" name="firstname">
                            </div>
                            <div class="col-50s">
                                <label for="lastname">LASTNAME</label>
                                <input type="text" name="lastname">
                            </div>
                        </div>
                        <div class="row bio ">
                            <div class="col-50sl">
                                <label for="gender">GENDER</label><br>
                                <p class="bioparam"><%= member.gender.toUpperCase() %></p>
                            </div>
                            <div class="col-50s">
                                <label for="birthdate">BIRTHDATE</label>
                                <div style="line-height: 1.5">
                                    <p class="bioparam"><%= member.birthdate.toDateString() %></p>
                                </div>
                            </div>
                        </div>
                        <div class="row biobio">
                            <label for="location">LOCATION</label>
                            <input type="text" name="location" maxlength="100">
                        </div>
                        <div class="row biobio">
                            <label for="bio">BIO</label>
                            <input type="text" name="bio" maxlength="100">
                        </div>
                    </div>
                </div>
            </div>
            <center class="btnedit2" style="padding-top: 10px;">
                <input type="submit" class="greenbtn w" value="FINISH">
                <a href="/profile/<%= member.id %>" class="redbtn w">CANCEL</a>
            </center>
        </form>
    </div>
<% include ./partials/footer %>