<% include ./partials/header %>
    <title>ECHOAX - New</title>
</head>
<body background="https://i.imgur.com/gaFKvWi.png" class="bg">
    <% include ./partials/navbar %>
    <div class="container-fluid" style="padding:0%">
        <img src="https://i.imgur.com/Fw7fQdq.png" style="width:100%">
    </div>
    <div class="container-fluid">
        <div id="headn">FAKE NEWS</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <% for(let i = 0;i < fakeNews.length ; i++ ){ %>
                <div class="col-33card">
                    <a href="/news/<%= fakeNews[i].id %>">
                        <div class="card backp">
                            <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                            <div class="container">
                                <div class="ntopic"><%= fakeNews[i].title %></div>
                                <div class="ndes"><%= fakeNews[i].content.substring(0,45) + " ..." %></div>
                                <div class="ndt">BY <%= fakeNews[i].author %></div>
                                <div class="ndt">POSTED ON <%= fakeNews[i].date_posted.toDateString() %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
    <div class="container-fluid">
        <div id="headn">HOAX</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <% for(let i = 0;i < hoax.length ; i++ ){ %>
                <div class="col-33card">
                    <a href="/news/<%= hoax[i].id %>">
                        <div class="card backhoax">
                            <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                            <div class="container">
                                <div class="ntopic"><%= hoax[i].title %></div>
                                <div class="ndes"><%= hoax[i].content.substring(0,45) + " ..." %></div>
                                <div class="ndt">BY <%= hoax[i].author %></div>
                                <div class="ndt">POSTED ON <%= hoax[i].date_posted.toDateString() %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>

    <div class="container-fluid">
        <div id="headn">PHISHING</div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutters">
            <% for(let i = 0;i < phishing.length ; i++ ){ %>
                <div class="col-33card">
                    <a href="/news/<%= phishing[i].id %>">
                        <div class="card backphish">
                            <img src="https://i.imgur.com/hHQOHIb.jpg" alt="headpic" style="width:100%">
                            <div class="container">
                                <div class="ntopic"><%= phishing[i].title %></div>
                                <div class="ndes"><%= phishing[i].content.substring(0,45) + " ..." %></div>
                                <div class="ndt">BY <%= hoax[i].author %></div>
                                <div class="ndt">POSTED ON <%= phishing[i].date_posted.toDateString() %></div>
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>
        </div>
    </div>
<% include ./partials/footer %>